.container {
  width: 400px;
  height: 200px;
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

.item{
  height: 60%;
  width: 30%;
}

.green {
  background: #51D400
}

.yellow {
  background: #FFD62A;
}

.purple {
  background: #B02AFF;
}