<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Welcome</title>
</head>

<body>
  <h1>To do list</h1>
  <ul>
    <% todos.forEach((e) => { %>
    <li>
      <%=e%>
    </li>
   <% }) %>
  </ul>
</body>

</html>