.container {
  display: flex;
  background: #FFD62A;
  width: 500px;
  height: 250px;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-end;
  margin-right: 10px;
  padding: 10;
}

.item{
  background: #B02AFF;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 0;
  display: flex;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}